USE [master]
GO
/****** Object:  Database [Database]    Script Date: 21/08/2021 4:08:18 AM ******/
CREATE DATABASE [Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database', FILENAME = N'C:\Users\thieu\source\repos\ToDoApplication\Database\Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Database_log', FILENAME = N'C:\Users\thieu\source\repos\ToDoApplication\Database\Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Database]
GO
USE [Database]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 21/08/2021 4:08:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserID] [char](14) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 21/08/2021 4:08:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [char](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 21/08/2021 4:08:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskID] [bigint] NOT NULL,
	[UserID] [char](14) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[StartDay] [datetime] NOT NULL,
	[EndDay] [datetime] NOT NULL,
	[CategoryID] [char](10) NOT NULL,
	[TaskListID] [bigint] NULL,
	[TaskDescription] [nvarchar](4000) NULL,
	[Important] [bit] NOT NULL,
	[Complete] [bit] NOT NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskList]    Script Date: 21/08/2021 4:08:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskList](
	[TaskListID] [bigint] NOT NULL,
	[UserID] [char](14) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_TaskList] PRIMARY KEY CLUSTERED 
(
	[TaskListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInformation]    Script Date: 21/08/2021 4:08:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInformation](
	[UserID] [char](14) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Age] [tinyint] NULL,
	[Sex] [bit] NULL,
	[Profession] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStatus]    Script Date: 21/08/2021 4:08:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStatus](
	[Date] [date] NOT NULL,
	[UserID] [char](14) NULL,
	[Status] [nvarchar](200) NOT NULL,
	[Water] [float] NOT NULL,
	[BMI] [float] NOT NULL,
 CONSTRAINT [PK_UserStatus] PRIMARY KEY CLUSTERED 
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([UserID], [Email], [Password]) VALUES (N'admin         ', N'admin@gmail.com', N'admin')
INSERT [dbo].[Account] ([UserID], [Email], [Password]) VALUES (N'admin1        ', N'hhpxme@gmail.com', N'royalpktk011')
INSERT [dbo].[Account] ([UserID], [Email], [Password]) VALUES (N'admin2        ', N'thieugiakk.hhp@gmail.com', N'12345689abcdegh')
GO
INSERT [dbo].[Categories] ([CategoryID], [Name]) VALUES (N'Cate341244', N'Bình thường')
INSERT [dbo].[Categories] ([CategoryID], [Name]) VALUES (N'Cate856608', N'Cần làm ngay')
INSERT [dbo].[Categories] ([CategoryID], [Name]) VALUES (N'Cate901352', N'Deadline dí')
GO
INSERT [dbo].[Task] ([TaskID], [UserID], [Title], [DateCreated], [StartDay], [EndDay], [CategoryID], [TaskListID], [TaskDescription], [Important], [Complete]) VALUES (1, N'admin         ', N'Thử lần 1', CAST(N'2021-08-21T00:00:00.000' AS DateTime), CAST(N'2021-08-21T00:00:00.000' AS DateTime), CAST(N'2021-08-22T00:00:00.000' AS DateTime), N'Cate341244', 1, N'Thử xem có chạy được không', 1, 0)
INSERT [dbo].[Task] ([TaskID], [UserID], [Title], [DateCreated], [StartDay], [EndDay], [CategoryID], [TaskListID], [TaskDescription], [Important], [Complete]) VALUES (2, N'admin         ', N'Thử lần 2', CAST(N'2021-08-21T00:00:00.000' AS DateTime), CAST(N'2021-08-20T00:00:00.000' AS DateTime), CAST(N'2021-08-21T00:00:00.000' AS DateTime), N'Cate341244', 2, N'Thử xem database có kết nối được không ?', 1, 1)
INSERT [dbo].[Task] ([TaskID], [UserID], [Title], [DateCreated], [StartDay], [EndDay], [CategoryID], [TaskListID], [TaskDescription], [Important], [Complete]) VALUES (3, N'admin         ', N'Thử lần 3', CAST(N'2021-08-21T00:00:00.000' AS DateTime), CAST(N'2021-08-21T00:00:00.000' AS DateTime), CAST(N'2021-08-21T00:00:00.000' AS DateTime), N'Cate341244', 1, N'Thử lần 3, xem datachạy như nào', 0, 0)
GO
INSERT [dbo].[TaskList] ([TaskListID], [UserID], [Name]) VALUES (1, N'admin         ', N'Thử nghiệm')
INSERT [dbo].[TaskList] ([TaskListID], [UserID], [Name]) VALUES (2, N'admin         ', N'Thử nghiệm lần 2')
INSERT [dbo].[TaskList] ([TaskListID], [UserID], [Name]) VALUES (3, N'admin1        ', N'Thử nghiệm trên nick khác')
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_Title]  DEFAULT (N'Tác vụ chưa đặt tên') FOR [Title]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_StartDay]  DEFAULT (getdate()) FOR [StartDay]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_EndDay]  DEFAULT (getdate()) FOR [EndDay]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_CategoryID]  DEFAULT ('Cate341244') FOR [CategoryID]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_Important]  DEFAULT ((0)) FOR [Important]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_Complete]  DEFAULT ((0)) FOR [Complete]
GO
ALTER TABLE [dbo].[TaskList] ADD  CONSTRAINT [DF_TaskList_Name]  DEFAULT (N'Danh sách chưa đặt tên') FOR [Name]
GO
ALTER TABLE [dbo].[UserInformation] ADD  CONSTRAINT [DF_UserInformation_Sex]  DEFAULT ((0)) FOR [Sex]
GO
ALTER TABLE [dbo].[UserStatus] ADD  CONSTRAINT [DF_UserStatus_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Account_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([UserID])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Account_UserID]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Categories_CategoryID]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_TaskList_TaskListID] FOREIGN KEY([TaskListID])
REFERENCES [dbo].[TaskList] ([TaskListID])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_TaskList_TaskListID]
GO
ALTER TABLE [dbo].[TaskList]  WITH CHECK ADD  CONSTRAINT [FK_TaskList_Account] FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([UserID])
GO
ALTER TABLE [dbo].[TaskList] CHECK CONSTRAINT [FK_TaskList_Account]
GO
ALTER TABLE [dbo].[UserInformation]  WITH CHECK ADD  CONSTRAINT [FK_UserInformation_Account_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([UserID])
GO
ALTER TABLE [dbo].[UserInformation] CHECK CONSTRAINT [FK_UserInformation_Account_UserID]
GO
ALTER TABLE [dbo].[UserStatus]  WITH CHECK ADD  CONSTRAINT [FK_UserStatus_Account_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([UserID])
GO
ALTER TABLE [dbo].[UserStatus] CHECK CONSTRAINT [FK_UserStatus_Account_UserID]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [CK_Task_StarDay_EndDay] CHECK  (([StartDay]<=[EndDay]))
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [CK_Task_StarDay_EndDay]
GO
USE [master]
GO
